header
  .container
    .row
      .col-xl-4
        img( src='img/logo.svg' alt='Французская стоматологическая клиника' )
      .col-xl-1
      .col-xl-4
        address г. Москва, 2-я Звенигородская ул.,<br>д. 13, стр. 41
      .col-xl-3
        a.phone( href='tel:+79457072323' rel='nofollow') +7 (495) 707-23-

section.first-screen
  .container
    .row
      .col-xl-5
      .col-xl-7
        .row
          .col-xl-6
            .first-screen-logo
              img.logo-invisalign( src="img/invisalign_logo.svg" alt="Invisalign" )
        h1 Invisalign
        h2 Незаметное лечение,<br>заметный результат
        p.desc Узнайте стоимость годового контракта «под ключ»!

        include form

section.advantages
  h2.text-center Чем капы Invisalign лучше брекетов?
  .container
    .row
      .col-xl-3
        h3 Совершенно незаметны
        p.desc Это самый эстетический вид ортодонтических конструкций.

      .col-xl-3
        h3 Просты в уходе
        p.desc Элайнеры не требуют сложного ухода, который необходим при ношении брекет-конструкций.

      .col-xl-3
        h3 Не меняют дикции
        p.desc Вы привыкните к элайнерам за 2-3 часа.

      .col-xl-3
        h3 Не ограничивают в еде
        p.desc Снимайте элайнеры на время приема пищи и наслаждайтесь любимыми блюдами.

section.minus
  .container
    .row
      .col
        h2.text-center Минусы Invisalign
        p.text-center Казалось бы, Invisalign – совершенный вид лечения, но он имеет один недостаток. <br>
          b Лечение Invisalign требует внимания и ответственности со стороны пациента:
          | каппы нужно носить 20-22 часа в  сутки и вовремя переходить к ношению следующей каппы. <br> По этой причине данный метод редко применяют для лечения юных пациентов.

section.doctors
  .container
    .row
      .col
        h1 Опытные французские и русские доктора
        p.desc Несмотря на то, что абсолютно все каппы Invisalign производят в США,
          b ответствен за результат врач-ортодонт
          | . На этапе диагностики врач прогнозирует детально движение каждого зуба, закладывает в лечение дополнительные элементы – аттачменты, расчитывает точный срок лечения.
    .row
      .col-xl-4
        img
      .col-xl-8
        h2
        p.blue
        p
        p
          i

footer