title Элайнеры Invisalign в Москве
meta(charset="UTF-8")

meta( name="description"
content="Исправление прикуса каппами Invisalign (инвизалайн) в Москве" )

meta( name="keywords"
content="каппы инвизалайн, invisalign, исправление прикуса зубов, элайнеры, невидимые брекеты" )

link(
rel='stylesheet'
href='css/style.css'
)